body{
    font-family: sans-serif;
    color: #424242;
    background-color: #F4F6F6;
}

.content{
    margin-top: 30px;
}

.brand-logo, .jumbotron-content{
    display: flex;
}

.jumbotron{
    background-image: url(../img/bmkg-jumbo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 25em;
}

.content-jumbotron{
    padding-top: 10.5em;
}

.jumbotron-content{
    background-color: rgba(255,255,255,0.8);
    /* width: 90%; */
    margin-left: 0;
    padding: 2.6em;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    overflow: hidden;
}

a, a:hover, a:focus, a:active{
    text-decoration: none;
    color: inherit;
}

.content-title{
    padding: 0.2em;
    border-bottom-width: 0.2em;
    border-bottom-style: solid;
    border-bottom-color: #00E917;
    margin-bottom: 0.8em;
}

.content-subtitle{
    font-size: 0.8em;
    margin: -0.5em 0 -0.5em 0;
    padding-left: 0.2em;
}

.card{
    padding: 0.5em;
    margin-bottom: 2em;
}

iframe{
    width: 100%;
    height: 25em;
}

object{
    width: 100%;
    height: 25em;
}

.odd{
    background-color: #FDFEFE; 
}

.even{
    background-color: #F4F6F6;
}

@media screen and (max-width: 480px) {
    .content-jumbotron{
        padding-top: 2em;
    }
  }